@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-style: none;
}

/* Firefox */
* {
  scrollbar-width: thumb;
  scrollbar-color: transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: theme("colors.cactus.950");
}

*::-webkit-scrollbar-thumb {
  background-color: theme("colors.accent");
  border-radius: 1rem;
  border: 1px solid theme("colors.cactus.950");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/../fonts/poppins-400.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("/../fonts/poppins-500.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("/../fonts/poppins-600.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/../fonts/poppins-700.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 300;
  src: url("/../fonts/nunito-300.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("/../fonts/nunito-400.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  src: url("/../fonts/nunito-500.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 600;
  src: url("/../fonts/nunito-600.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url("/../fonts/nunito-700.ttf") format("truetype");
}

h1 {
  font-family: theme(fontFamily.header);
  font-size: theme(fontSize.4xl);
  font-weight: 700;
}

h2 {
  font-family: theme(fontFamily.header);
  font-size: theme(fontSize.3xl);
  font-weight: 600;
}

h3 {
  font-family: theme(fontFamily.header);
  font-size: theme(fontSize.2xl);
  font-weight: 500;
}

h4 {
  font-family: theme(fontFamily.header);
  font-size: theme(fontSize.xl);
  font-weight: 400;
}

.carousel .thumbs-wrapper {
  margin: 0 !important;
}

.carousel .control-dots .dot {
  background-color: #f0f0f0 !important;
  width: 14px !important;
  height: 14px !important;
  opacity: 0.8 !important;
}

.carousel .control-dots .dot.selected {
  background-color: #e66300 !important;
  border-color: #e66300 !important;
  opacity: 1 !important;
}

.css-bwntmo > *:not(style) ~ *:not(style) {
  -webkit-margin-start: 0 !important;
  margin-inline-start: 0 !important;
}

.rdp {
  background-color: #f0f0f0;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 0 !important;
  padding: 15px 0;
  & .rdp-day:not(.rdp-day_outside):hover {
    background-color: #4f6f52 !important;
    color: #fff !important;
  }
}

[data-theme="dark"] .rdp,
.dark .rdp {
  --rdp-accent-color: var(--rdp-accent-color-dark);
  background-color: #3a3d3a;
  border: 2px solid #fff;
  & .rdp-day:not(.rdp-day_outside):hover {
    background-color: #4f6f52 !important;
  }
}

.rdp-day_today {
  background-color: #4f6f52 !important;
  color: #fff !important;
}

.rdp-day_today:not(.rdp-day_outside) {
  font-weight: bold;
  background-color: #4f6f52 !important;
}

.rdp-day_selected {
  background-color: #91b195 !important;
  font-weight: bold;
  color: #000 !important;
  font-weight: bold !important;
}
