@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-style: none;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: unset;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: theme("colors.accent");
  border-radius: 1rem;
  border: 1px solid theme("colors.cactus.950");
}

/* Font-Face Definitions */
@font-face {
  font-family: "Poppins";
  src: url("/../fonts/poppins-400.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/../fonts/poppins-500.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/../fonts/poppins-600.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/../fonts/poppins-700.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url("/../fonts/nunito-300.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Nunito";
  src: url("/../fonts/nunito-400.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url("/../fonts/nunito-500.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: url("/../fonts/nunito-600.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: url("/../fonts/nunito-700.ttf") format("truetype");
  font-weight: 700;
}

/* Header Styles */
h1,
h2,
h3,
h4 {
  font-family: theme("fontFamily.header"), serif;
}

h1 {
  font-size: theme("fontSize.4xl");
  font-weight: 700;
}

h2 {
  font-size: theme("fontSize.3xl");
  font-weight: 600;
}

h3 {
  font-size: theme("fontSize.2xl");
  font-weight: 500;
}

h4 {
  font-size: theme("fontSize.xl");
  font-weight: 400;
}

.css-bwntmo > *:not(style) ~ *:not(style) {
  -webkit-margin-start: 0 !important;
  margin-inline-start: 0 !important;
}

[data-theme="dark"] .rdp,
.dark .rdp {
  --rdp-accent-color: var(--rdp-accent-color-dark);
  background-color: #3a3d3a;

  & .rdp-day:not(.rdp-day_outside):not(.booked):not(.rdp-day_disabled):hover {
    background-color: #4f6f52 !important;
  }
}

.rdp-day_today {
  background-color: #e66300 !important;
  color: #fff !important;
}

.rdp-day_today:not(.rdp-day_outside) {
  font-weight: bold;
  background-color: #e66300 !important;
}

.rdp-day_selected {
  background-color: #91b195 !important;
  color: #000 !important;
  font-weight: bold !important;
}

.booked {
  position: relative;
}

/* Strikeout */
.booked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: darkred;
  z-index: 1;
  transform: rotate(-45deg);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 {
  width: 100%;
  max-height: 50%;
}

.mySwiper {
  height: 20%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper3 {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.mySwiper4 {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 80%;
  opacity: 0.4;
  border-bottom: 4px solid grey;
  padding-bottom: 10px;
  cursor: pointer;
}

.mySwiper .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
  border-bottom: 4px solid #e66300;
}

.mySwiper4 .swiper-slide {
  width: auto !important;
  height: 100%;
  cursor: pointer;
}

.mySwiper4 .swiper-wrapper {
  margin-bottom: 2.5rem;
}

[data-theme="dark"] .mySwiper4 .swiper-pagination-bullet {
  background-color: #fff;
}

.mySwiper4 .swiper-button-prev {
  left: 20px;
}

.mySwiper4 .swiper-button-next {
  right: 20px;
}
